  <p>
    <app-input-field-type [ngModel]="txt1" (ngModelChange)="logChange($event)"></app-input-field-type>
  </p>
  <p>
    <app-input-field-type [ngModel]="txtHidden" (ngModelChange)="logChange($event)"></app-input-field-type>
    <button (click)="toggleHiddenField()">magic</button>
  </p>
  <p>
    <app-input-field-type [ngModel]="txtDisabled"></app-input-field-type>
  </p>


  <p>
    <app-mc-field-type [ngModel]="satisfaction" (ngModelChange)="logChange($event)"></app-mc-field-type>
  </p>

  <p>
    <app-mc-field-type [ngModel]="satisfactionDisabled" (ngModelChange)="logChange($event)"></app-mc-field-type>
  </p>
